﻿@{
	Layout = null;
}



<div class="d-flex justify-content-center">
	<h1>Loop Detected while Requesting the site</h1>

	<a asp-controller="Student" asp-action="Index" class="btn btn-outline-primary">Back to Student</a>
</div>